.window {
    display: flex; /* Enable flexbox layout */
    flex-direction: row; /* Align children side by side */
    gap: 0.5rem; /* Optional: Add space between items */
    padding: 1rem;
    margin-top:20px; /* Optional: Add padding inside the container */
  }
  .border-radius {
    border-radius: 12px; /* Adjust the value as needed */
    overflow: hidden;    /* Ensures the content respects the border radius */
  }
  /* HomePage.css */
/* HomePage.css */

/* Add styles for the close button */
button.close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  background-color: #f3f4f6;
  color: #374151;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  transition: background-color 0.2s ease;
}

button.close-button:hover {
  background-color: #e5e7eb;
}

/* Moving line animation */
.moving-line {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: moveLine 10s linear infinite;
}

@keyframes moveLine {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
