.weather {
    align-items: center;
    justify-content:center;
    padding: 20px 40px;
    background-color: #7F00FF; /* Optional: Light background color for contrast */
    border-radius: 8px;
    width: fit-content;
  }
  
  .current-weather {
    font-family: Inter, sans-serif;
  }
  
  .current-weather p {
    margin: 5px 0;
  }
  
  .label {
    color: white;
    font-weight: bold;/* Color for labels */
  }
  
  .data {
    color: white; /* Color for data */
  }
  